html body {
  font-size: 16px;
}

.gris {
  color: grey;
}

.big {
  font-weight: 700;
  font-size: 3rem;
}

.footer {
  background-color: #f0f0f0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #1e95d3;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer ul li .active {
  color: black;
  font-weight: 500;
}

.footer .footer-bottom {
  background-color: white;
  font-size: 0.875rem;
}

.footer .footer-bottom p a {
  margin: 0 30px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer .footer-bottom {
    text-align: center;
  }
}

.footer .footer-bottom .copyright p a {
  margin: 0 0;
  color: #1e95d3;
}

.footer .footer-bottom .menu {
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .footer .footer-bottom .menu, .footer .footer-bottom .copyright {
    text-align: center;
    margin-left: 0;
  }
}

.card .card-body .cimg {
  width: 150px;
  float: right;
  margin-right: 30px;
  margin-left: 30px;
}

.card .card-body .radius {
  border-radius: 0rem;
}

.header1, .box2, .box4, .header2, .header3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header2, .header3 {
  min-height: 50vh;
}

.header2 h1, .header3 h1 {
  margin-top: 6vh;
}

.header1 {
  min-height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_960_720.jpg");
}

.header1 h1 {
  margin-top: 35vh;
}

.header2 {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804_960_720.jpg");
}

.header3 {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/18/19/25/pc-1207886_960_720.jpg");
}

.box2 {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_960_720.jpg");
  min-height: 750px;
}

.box3 {
  padding: 8% 0;
  background-color: #f0f0f0;
}

.box3 ul {
  list-style-type: none;
}

.box3 ul li:before {
  content: "\2022";
  color: #007bff;
  display: inline-block;
  width: 1.2em;
  margin-left: -1em;
}

.box4 {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804_960_720.jpg");
  min-height: 750px;
}

.box7 {
  background-color: #007bff;
}

.box8 {
  background-image: url("https://cdn.pixabay.com/photo/2014/05/03/00/46/notebook-336634_960_720.jpg");
  min-height: 70vh;
}

.box9 {
  background-color: #353535;
  padding: 10% 30px;
}

.box9 p {
  font-size: 20px;
}

.box10 {
  background-color: orange;
  min-height: 200px;
}

.connecter .menu-connecter {
  background-color: #007bff;
  height: 100vh;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .connecter .menu-connecter {
    height: 100%;
    padding: 10px;
  }
}

.connecter .menu-connecter .navbar {
  padding: 0px;
}

.connecter .menu-connecter .navbar .navbar-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.connecter .menu-connecter .navbar .navbar-nav .deco {
  margin-top: 40%;
}

@media screen and (max-width: 1200px) {
  .connecter .menu-connecter .navbar .navbar-nav .deco {
    margin-top: 20%;
  }
}

.connecter .menu-connecter .navbar .navbar-nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
}

.connecter .menu-connecter .navbar .navbar-nav a svg {
  margin: 0 20px 0 15px;
}

.connecter .menu-connecter .navbar .navbar-nav a:hover {
  background-color: #3ebcff;
  border-left: 5px solid lightblue;
}

@media screen and (min-width: 768px) {
  .navbar {
    background-color: none;
  }
}

form .col-xl-1 {
  padding: 0 0;
}

form .recherche {
  background-color: white;
  padding: 2px;
}

form .recherche .form-control {
  border: none;
  margin: 3px;
  padding-left: 30px;
  font-size: 14px;
}

form .recherche .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .recherche .btn {
  width: 100%;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
}

.list-group .list-group-item {
  border-left: 8px solid rgba(0, 0, 0, 0.125);
}

.list-group .list-group-item p:last-child {
  margin-bottom: 0;
}

.info {
  border: 1px solid black;
  padding: 5px;
}

.logo {
  border: 1px solid black;
  padding: 20px;
}
/*# sourceMappingURL=App.css.map */