// ************************************
// Imports
// ************************************
    
// Menu.sass
@import 'Menu'

// Footer.sass
@import 'Footer'
    
// Variables.sass
@import 'Variables'   

    
// ************************************
// Général
// ************************************
html body 
    font-size: 16px

.gris 
    color: grey

.big 
    font-weight: 700 
    font-size: 3rem
			
// ************************************
// Cards 
// ************************************
.card 
    .card-body 
        .cimg 
            width: 150px
            float: right
            margin-right: 30px
            margin-left: 30px
        .radius 
            border-radius: 0rem

// ************************************
// Image d'en tête et autres containers
// ************************************
.header1, .box2, .header2,
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.header1 
  min-height: 100vh
  background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/42/typing-849806_960_720.jpg')

  h1 
    margin-top: 35vh

.header2 
    min-height: 50vh
    background-image: url('https://cdn.pixabay.com/photo/2016/02/18/19/25/pc-1207886_960_720.jpg') 

    h1 
         margin-top: 6vh

.box2 
    background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_960_720.jpg')
    min-height: 750px

.box3 
    padding: 8% 0
    background-color: $color_grey

    ul 
        list-style-type: none

        li
            &:before 
                content: "\2022" 
                color: $color_blue
                display: inline-block 
                width: 1.2em
                margin-left: -1em
        
.box7 
    background-color: $color_blue

.box8 
    background-image: url('https://cdn.pixabay.com/photo/2014/05/03/00/46/notebook-336634_960_720.jpg') // Normalement l'image serait différente de la .box2
    min-height: 70vh

.box9 
    background-color: #353535
    padding: 10% 30px

    p 
        font-size: 20px

.box10 
    background-color: orange
    min-height: 200px

// ****************************      
// Form (Barre de recherche)
// ****************************
form 
    .col-xl-1 
        padding: 0 0

    .recherche 
        background-color: white 
        padding: 2px
        
        .form-control  
            border: none
            margin: 3px
            padding-left: 30px
            font-size: 14px

            &:focus
                box-shadow: none
            
        .btn
            width: 100%
            border-radius: 0
            font-size: 14px
            padding: 10px


// ****************************      
//  Section Secteurs d'activité
// ****************************
.list-group
    .list-group-item 
        border-left: 8px solid rgba(0,0,0,.125)

        p:last-child 
            margin-bottom: 0
            

.info 
    .btn 
        width: 100%
        border-radius: 0

    .info2 
        text-align: right

        @media screen and (max-width: 1200px) 
            text-align: center

    @media screen and (max-width: 1200px) 
        text-align: center



.logo 
    .card
        height: 100%
        width: 100%

        img 
            width: 150px


// ****************************      
//  Page à propos
// ****************************
.apropos 
    p,h5 
        @media screen and (max-width: 1200px) 
            text-align: center
    img 
        width: 100%

    .image 
        height: 300px

// ****************************      
//  Admin cards
// ****************************
.admincards
    .card 
        background-color: $color_grey


  
        